<div class="{{ block.id }}">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 78 14" height="14" width="78">
    <path fill="#1B365D" d="M2.38361 13.1335L4.07265 8.11373L0 5.38285H4.98821L6.77197 0L8.5873 5.38285H13.5439L9.47128 8.11373L11.1919 13.1335L6.77197 9.92906L2.38361 13.1335Z"/>
    <path fill="#1B365D" d="M18.3836 13.1335L20.0727 8.11373L16 5.38285H20.9882L22.772 0L24.5873 5.38285H29.5439L25.4713 8.11373L27.1919 13.1335L22.772 9.92906L18.3836 13.1335Z"/>
    <path fill="#1B365D" d="M34.3836 13.1335L36.0727 8.11373L32 5.38285H36.9882L38.772 0L40.5873 5.38285H45.5439L41.4713 8.11373L43.1919 13.1335L38.772 9.92906L34.3836 13.1335Z"/>
    <path fill="#1B365D" d="M50.3836 13.1335L52.0727 8.11373L48 5.38285H52.9882L54.772 0L56.5873 5.38285H61.5439L57.4713 8.11373L59.1919 13.1335L54.772 9.92906L50.3836 13.1335Z"/>
    <path fill="#1B365D" d="M66.3836 13.1335L68.0727 8.11373L64 5.38285H68.9882L70.772 0L72.5873 5.38285H77.5439L73.4713 8.11373L75.1919 13.1335L70.772 9.92906L66.3836 13.1335Z"/>
  </svg>
  <span>{{ block.settings.product_rating }}</span>
</div>

{% style %}

  .{{ block.id }} span{
    font-size: clamp(12px, 3vw, 16px); 
    color: {{ block.settings.text_color }}
    text-align: left;
  }
  .{{ block.id }} svg path {
    fill: {{ block.settings.star_color }};
  }

{% endstyle %}