<div class="section">
  <div class="container">
    <div class="UGC-vids-section {{ section.id }}">
      <div class="left-column">
        <div class="section-title-wrap">
          <h2 class="section-title">{{ section.settings.section_title }}</h2>
          {% if section.settings.section_sub_title != blank %}
            <div class="section-subtitle">
              {{ section.settings.section_sub_title }}
            </div>
          {% endif %}
          <button class="global-button global-button--primary scroll-btn" >{{ section.settings.button_text }}</button>
        </div>
      </div>
      <div class="video-column">
          <div class="swiper swiper-{{ section.id }} video-marquee">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
              {% assign video_metaobject = section.settings.videos_metaobject %}
              {% if video_metaobject != blank %}
                {% for video_item in video_metaobject.videos.value %}
                  <div class="swiper-slide">
                    <div>
                      <video preload="metadata" autoplay playsinline muted loop muted="true">
                          <source src="{{ video_item.sources[0].url }}" type="video/mp4">
                          Your browser does not support the video tag.
                      </video>
                      {% if video_item.label != blank %}
                        <div class="overlay-label">
                          {{ video_item.label }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="placeholder">
                  <img
                    src="{{ 'placeholder_3.webp' | asset_url }}"
                    alt="Customer"
                    loading="lazy"
                  >
                </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

{% style %}

.container {
  margin: auto;
}

.{{ section.id }} {
  display: flex;
  padding: 40px 10px;
  max-width: 1200px;
  justify-self: center;
}

.{{ section.id }} .left-column {
  min-width: 495px;
  align-content: center;
}

.{{ section.id }} .section-title {
  max-width: 420px;
  text-align: left;
  font-weight: 500;
  font-size: {{ section.settings.title_size }}px;
  color: {{ section.settings.title_color }} !important;
  letter-spacing: -0.02em;
  margin: 0;
}

.{{ section.id }} .section-subtitle {
  max-width: 400px;
  margin-bottom: 20px;
  color: {{ section.settings.subtitle_color }} !important;
  font-size: {{ section.settings.subtitle_size }}px;
}

.{{ section.id }} .section-subtitle .metafield-rich_text_field  {
  font-size: clamp(14px, 2vw, 16px);
}

.{{ section.id }} {
  margin-top: clamp(0px,3vw,15px);
}

.{{ section.id }} .video-column {
  overflow: hidden;
  width: calc(57.1428571429% - 20px);
}

.{{ section.id }} .placeholder img {
  height: 100%;
}

.{{ section.id }} .video-marquee {
  width: 100%;
  overflow: visible;
  z-index: 0;
}

.{{ section.id }} .video-marquee .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.{{ section.id }} .swiper-slide {
  height: 100%;
  margin: 0px 10px;
}

.{{ section.id }} .swiper-slide > div {
  padding: 0px 5px;
  width: fit-content;
}

.{{ section.id }} .swiper-slide video {
  max-width: 340px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
    
.{{ section.id }} button {
  font-size: clamp(15px, 3vw, 18px);
  background: {{ section.settings.button_color }};
  border-color: #BACBE7;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 10px;
  padding: 15px 20px;
}

.{{ section.id }} .overlay-label {
  width: calc(100% - 10px);
  margin:0 auto;
  left:0;
  right:0;
  position: absolute;
  bottom: 5px;
  background: linear-gradient(180deg, rgba(254,246,171,0) 0%, rgba(0,0,0,0.8939950980392157) 100%);
  color: #fff;
  padding:60px 15px 10px;
  border-radius: 0px 0px 10px 10px;
}
  
.{{ section.id }} .overlay-label .metafield-rich_text_field {
  font-size: clamp(16px, 3vw, 18px);
}

@media (max-width: 768px) {
  .{{ section.id }} {
    flex-direction: column;
    max-width: 425px;
  }

  .{{ section.id }} .section-title-wrap {
    justify-items: center;
    max-width: max-content;
  }

  .{{ section.id }} .section-title {
    text-align: center;
    font-size: calc({{ section.settings.title_size }}px - 10px);
  }

  .{{ section.id }} .section-subtitle {
    text-align: center;
  }

  .{{ section.id }} .video-column {
    width: auto;
  }
}

{% endstyle %}

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
        const marqueeSlider = new Swiper('.video-marquee', {
          spaceBetween: 0,
          speed: 4000,
          autoplay: {
            delay: 0,
          },
          loop: true,
          slidesPerView:1.7,
          allowTouchMove: false,
          disableOnInteraction: true,
          waitForTransition: false,
          breakpoints: {
            768: {
              slidesPerView: 2,
              autoplay: {
                delay: 0,
              },
              speed: 4000,
            },
          },
        });
      });
</script>

{% schema %}
  {
    "name": "UGC Vids",
    "settings": [
      {
        "type": "metaobject",
        "id": "videos_metaobject",
        "label": "Videos Metaobject",
        "metaobject_type": "product_ugc_video"
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "They Saw Results After One Night. You Will Too."
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#605471"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 20,
        "max": 80,
        "step": 2,
        "unit": "px",
        "label": "Title Size",
        "default": 40
      },
      {
        "type": "text",
        "id": "section_sub_title",
        "label": "Section Subtitle",
        "default": "Unfiltered, Authentic Experiences"
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Subtitle Color",
        "default": "#656565"
      },
      {
        "type": "range",
        "id": "subtitle_size",
        "min": 14,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Subtitle Size",
        "default": 16
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Learn More"
      },
      {
        "type": "color_background",
        "id": "button_color",
        "label": "Button Color",
        "default": "linear-gradient(90deg, #605471 0%, #B7A0D7 100%)"
      }
    ],
    "presets": [
      {
        "name": "UGC Vids"
      }
    ]
  }
{% endschema %}
