<div class="section">
  <div class="container">
    <div class="ugc-vids-section {{ section.id }}">
      <div class="left-column">
        <div class="title-wrap">
          <h2 class="section-title">{{ section.settings.section_title }}</h2>
          {% if section.settings.section_subtitle != nil %}
            <div class="section-subtitle">
              {{ section.settings.section_subtitle }}
            </div>
          {% endif %}
          <button class="global-button global-button--primary scroll-btn" >{{ section_item.button_text }}</button>
        </div>
      </div>
      <div class="right-column">
        <div class="swiper video-marquee">
          <div class="swiper-pagination"></div>
          <div class="swiper-wrapper">

            {% assign video_data = section.settings.video_metaobject  %}

            {% for video in video_data.videos.value %}
              {% assign url  = video.video | file_url %}
              <div class="swiper-slide">
                <div>
                  <video preload="metadata" autoplay playsinline muted loop muted="true">
                      <source src="{{ url }}" type="video/mp4">
                      Your browser does not support the video tag.
                  </video>
                  {% if video.label != nil %}
                    <div class="overlay-label">
                      {{ video.label | metafield_tag }}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  
{{ section.id }} .section-title {
  max-width: 400px;
  text-align: left;
  font-weight: 500;
  color: #605471 !important;
  letter-spacing: -0.02em;
}

.{{ section.id }} .section-title {
  font-weight: 500 !important;
}

.{{ section.id }} .section-subtitle {
  max-width: 400px;
  margin-bottom: 20px;
}

.{{ section.id }} .section-sub  title .metafield-rich_text_field  {
  font-size: clamp(14px, 2vw, 16px);
}

.{{ section.id }} {
  margin-top: clamp(0px,3vw,15px);
}

.{{ section.id }} .right-column {
  overflow: hidden;
}

.{{ section.id }} .video-marquee {
  width: 100%;
  overflow: visible;
  z-index: 0;
}

.{{ section.id }} .video-marquee .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.{{ section.id }} .swiper-slide {
  height: 100%;
  margin: 0px 10px;
}

.{{ section.id }} .swiper-slide > div {
  padding: 0px 5px;
  width: fit-content;
}

.{{ section.id }} .swiper-slide video {
  max-width: 340px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
    
.{{ section.id }} button {
  font-size: clamp(15px, 3vw, 18px);
  background: linear-gradient(90deg, #605471 0%, #B7A0D7 100%);
  border-color: #BACBE7;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 10px;
}

.{{ section.id }} .overlay-label {
  width: calc(100% - 10px);
  margin:0 auto;
  left:0;
  right:0;
  position: absolute;
  bottom: 5px;
  background: linear-gradient(180deg, rgba(254,246,171,0) 0%, rgba(0,0,0,0.8939950980392157) 100%);
  color: #fff;
  padding:60px 15px 10px;
  border-radius: 0px 0px 10px 10px;
}
  
.{{ section.id }} .overlay-label .metafield-rich_text_field {
  font-size: clamp(16px, 3vw, 18px);
}

@media (max-width: 768px) {
  .{{ section.id }} .pdp-section-title p{
    text-align: center;
  }

  .{{ section.id }} .pdp-section-sub-title p{
    text-align: center;
  }
}

{% endstyle %}

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
        const marqueeSlider = new Swiper('.video-marquee', {
          spaceBetween: 0,
          speed: 4000,
          autoplay: {
            delay: 0,
          },
          loop: true,
          slidesPerView:1.7,
          allowTouchMove: false,
          disableOnInteraction: true,
          waitForTransition: false,
          breakpoints: {
            768: {
              slidesPerView: 2,
              autoplay: {
                delay: 0,
              },
              speed: 4000,
            },
          },
        });
      });
</script>


{% schema %}
  {
    "name": "UGC Vids",
    "settings": [
      {
        "type": "metaobject",
        "id": "video_metaobject",
        "label": "Select Video Data",
        "metaobject_type": "product_ugc_video"
      },
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "What Our Customers Say"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#605471"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 20,
        "max": 80,
        "step": 2,
        "unit": "px",
        "label": "Title Size",
        "default": 40
      },
      {
        "type": "text",
        "id": "section_subtitle",
        "label": "Section Subtitle",
        "default": "Verified Customer Reviews"
      },
      {
        "type": "color",
        "id": "subtitle_color",
        "label": "Subtitle Color",
        "default": "#656565"
      },
      {
        "type": "range",
        "id": "subtitle_size",
        "min": 14,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Subtitle Size",
        "default": 20
      },
      {
        "type": "color",
        "id": "section_background",
        "label": "Section Background Color",
        "default": "#f7f9fd"
      }
    ],
    "presets": [
    {
      "name": "UGC Vids"
    }
    ],
  }
{% endschema %}

