<div class="section">
  <div class="container">
    <div class="UGC-vids-section {{ section.id }}">
      <div class="left-column">
        <div class="section-title-wrap">
          <h2 class="section-title">{{ section.settings.section_title }}</h2>
          {% if section.settings.section_sub_title != blank %}
            <div class="section-subtitle">
              <svg width="59" height="11" viewBox="0 0 59 11" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M5.27166 7.75846L2.05007 10.0851L3.31995 6.30108L0.0898438 3.96585H4.04438L5.27166 0.181763L6.49893 3.96585H10.4534L7.22336 6.30108L8.49325 10.0851L5.27166 7.75846Z" fill="#ffb700"></path> <path d="M17.1818 7.75846L13.9602 10.0851L15.2301 6.30108L12 3.96585H15.9545L17.1818 0.181763L18.4091 3.96585H22.3636L19.1335 6.30108L20.4034 10.0851L17.1818 7.75846Z" fill="#ffb700"></path> <path d="M29.092 7.75846L25.8704 10.0851L27.1403 6.30108L23.9102 3.96585H27.8647L29.092 0.181763L30.3192 3.96585H34.2737L31.0437 6.30108L32.3136 10.0851L29.092 7.75846Z" fill="#ffb700"></path> <path d="M41.0021 7.75846L37.7805 10.0851L39.0504 6.30108L35.8203 3.96585H39.7749L41.0021 0.181763L42.2294 3.96585H46.1839L42.9538 6.30108L44.2237 10.0851L41.0021 7.75846Z" fill="#ffb700"></path> <path d="M52.9123 7.75846L49.6907 10.0851L50.9606 6.30108L47.7305 3.96585H51.685L52.9123 0.181763L54.1396 3.96585H58.0941L54.864 6.30108L56.1339 10.0851L52.9123 7.75846Z" fill="#ffb700"></path></svg> 
              {{ section.settings.section_sub_title }}
            </div>
          {% endif %}
          <button class="global-button global-button--primary scroll-btn" >{{ section.settings.button_text }}</button>
        </div>
      </div>
      <div class="video-column">
          <div class="swiper swiper-{{ section.id }} video-marquee">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
              {% assign video_metaobject = section.settings.videos_metaobject %}
              {% if video_metaobject %}
                {% for video_item in video_metaobject.videos.value %}
                  <div class="swiper-slide">
                    <div>
                      <video preload="metadata" autoplay playsinline muted loop muted="true">
                          <source src="{{ video_item.sources[0].url }}" type="video/mp4">
                          Your browser does not support the video tag.
                      </video>
                      {% if video_item.label != blank %}
                        <div class="overlay-label">
                          {{ video_item.label }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

{% style %}

.container {
  margin: auto;
}

.{{ section.id }} {
  display: flex;
  padding: 40px;
  max-width: 1200px;
  justify-self: center;
}

.{{ section.id }} .left-column {
  width: calc(42.8571428571% - 20px);
  align-content: center;
}

.{{ section.id }} .section-title-wrap {
  margin: 0 48px;
}

.{{ section.id }} .section-title {
  max-width: 400px;
  text-align: left;
  font-weight: 500;
  color: #605471 !important;
  letter-spacing: -0.02em;
}

.{{ section.id }} .section-title  .metafield-rich_text_field p strong {
  font-weight: 500 !important;
}

.{{ section.id }} .section-subtitle {
  max-width: 400px;
  margin-bottom: 20px;
}

.{{ section.id }} .section-subtitle .metafield-rich_text_field  {
  font-size: clamp(14px, 2vw, 16px);
}

.{{ section.id }} {
  margin-top: clamp(0px,3vw,15px);
}



.{{ section.id }} .video-column {
  overflow: hidden;
  width: calc(57.1428571429% - 20px);
}

.{{ section.id }} .video-marquee {
  width: 100%;
  overflow: visible;
  z-index: 0;
}

.{{ section.id }} .video-marquee .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.{{ section.id }} .swiper-slide {
  height: 100%;
  margin: 0px 10px;
}

.{{ section.id }} .swiper-slide > div {
  padding: 0px 5px;
  width: fit-content;
}

.{{ section.id }} .swiper-slide video {
  max-width: 340px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
    
.{{ section.id }} button {
  font-size: clamp(15px, 3vw, 18px);
  background: linear-gradient(90deg, #605471 0%, #B7A0D7 100%);
  border-color: #BACBE7;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 10px;
}

.{{ section.id }} .overlay-label {
  width: calc(100% - 10px);
  margin:0 auto;
  left:0;
  right:0;
  position: absolute;
  bottom: 5px;
  background: linear-gradient(180deg, rgba(254,246,171,0) 0%, rgba(0,0,0,0.8939950980392157) 100%);
  color: #fff;
  padding:60px 15px 10px;
  border-radius: 0px 0px 10px 10px;
}
  
.{{ section.id }} .overlay-label .metafield-rich_text_field {
  font-size: clamp(16px, 3vw, 18px);
}

@media (max-width: 768px) {
  .section-title p{
    text-align: center;
  }

  .section-subtitle p{
    text-align: center;
  }
}

{% endstyle %}

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
        const marqueeSlider = new Swiper('.video-marquee', {
          spaceBetween: 0,
          speed: 4000,
          autoplay: {
            delay: 0,
          },
          loop: true,
          slidesPerView:1.7,
          allowTouchMove: false,
          disableOnInteraction: true,
          waitForTransition: false,
          breakpoints: {
            768: {
              slidesPerView: 2,
              autoplay: {
                delay: 0,
              },
              speed: 4000,
            },
          },
        });
      });
</script>

{% schema %}
  {
    "name": "UGC Vids",
    "settings": [
      {
        "type": "richtext",
        "id": "section_title",
        "label": "Section Title"
      },
      {
        "type": "richtext",
        "id": "section_sub_title",
        "label": "Section Subtitle"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Learn More"
      },
      {
        "type": "metaobject",
        "id": "videos_metaobject",
        "label": "Videos Metaobject",
        "metaobject_type": "product_ugc_video"
      }
    ],
    "presets": [
      {
        "name": "UGC Vids"
      }
    ]
  }
{% endschema %}
